<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
	<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
	<title>Meepr!</title>
	<link rel="stylesheet" type="text/css" href="/style.css"/>
</head>
<body id='container'>
<img src='/beaker_honeydew.jpg' width="108" height="146">
<%= yield %>
</body>
</html>
